<template>
  <form id="personsForm">
    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <tr v-for="n in 4">
          <td><input type="text" v-bind:name="'people[' + (n-1) + '][firstname]'" v-bind:title="n-1" v-bind:value="persons[n-1] && persons[n-1].firstname" /></td>
          <td><input type="text" v-bind:name="'people[' + (n-1) + '][surname]'" v-bind:title="n-1" v-bind:value="persons[n-1] && persons[n-1].surname" /></td>
        </tr>
    </table>
    <input type="submit" value="OK" @click="submitForm" />
  </form>
</template>

<script>
import Vue from 'vue';

export default {
  name: 'Persons',
  data() {
    return {
      persons: [],
      totalInputs: 4,
    };
  },
  methods: {
    getPersons() {
      this.$http.get('http://localhost:8000/persons').then((response) => {
        if (response && response.data && response.data.data && response.data.data.people) {
          const people = response.data.data.people;

          // Update internal data with remote data
          people.forEach((person, index) => {
            Vue.set(this.persons, index, {
              firstname: person.firstname,
              surname: person.surname,
            });
          });
        }
      });
    },
    getDataToSend() {
      const myForm = document.getElementById('personsForm');
      return new FormData(myForm);
    },
    submitForm(evt) {
      evt.preventDefault();

      const dataToSend = this.getDataToSend();

      this.$http.post('http://localhost:8000/persons', dataToSend);
    },
  },
  mounted() {
    this.getPersons();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
